# ignore Python virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.lipread/
env/
lipread/

# ignore Python model checkpoints
LRM Python/models/checkpoint*

# ignore Rust target builds
/target/

# ignore papers dir
/papers/

# ignore OS system junk files
.DS_Store
__MACOSX/

# ignore large raw datasets and other misc.
data.zip
data/
test_frame.png

# ignore VSCode settings
.vscode/

# local shell configs
.zshrc
